body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(ellipse at bottom, #1f518d 0%, #0c0d13 100%);
    overflow: hidden;
  }
  
  .stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    transform: rotate(-45deg);
  }
  
  .star {
    --star-color: white;
    /* --star-color: var(--primary-color); */
    --star-tail-length: 6em;
    --star-tail-height: 2px;
    --star-width: calc(var(--star-tail-length) / 6);
    --fall-duration: 9s;
    --tail-fade-duration: var(--fall-duration);
    position: absolute;
    top: var(--top-offset);
    left: 0;
    width: var(--star-tail-length);
    height: var(--star-tail-height);
    color: var(--star-color);
    background: linear-gradient(45deg, currentColor, transparent);
    border-radius: 50%;
    filter: drop-shadow(0 0 6px currentColor);
    transform: translate3d(104em, 0, 0);
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
  }
  @media screen and (max-width: 750px) {
    .star {
      animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
    }
  }
  .star:nth-child(1) {
    --star-tail-length: 5.65em;
    --top-offset: 17.96vh;
    --fall-duration: 11.209s;
    --fall-delay: 4.654s;
  }
  .star:nth-child(2) {
    --star-tail-length: 6.52em;
    --top-offset: 43.05vh;
    --fall-duration: 6.824s;
    --fall-delay: 6.878s;
  }
  .star:nth-child(3) {
    --star-tail-length: 7em;
    --top-offset: 89.24vh;
    --fall-duration: 10.116s;
    --fall-delay: 7.24s;
  }
  .star:nth-child(4) {
    --star-tail-length: 6.36em;
    --top-offset: 11.79vh;
    --fall-duration: 7.669s;
    --fall-delay: 3.921s;
  }
  .star:nth-child(5) {
    --star-tail-length: 6.56em;
    --top-offset: 44.54vh;
    --fall-duration: 8.335s;
    --fall-delay: 8.331s;
  }
  .star:nth-child(6) {
    --star-tail-length: 6.09em;
    --top-offset: 71.27vh;
    --fall-duration: 6.359s;
    --fall-delay: 6.273s;
  }
  .star:nth-child(7) {
    --star-tail-length: 6.26em;
    --top-offset: 65.69vh;
    --fall-duration: 9.053s;
    --fall-delay: 1.995s;
  }
  .star:nth-child(8) {
    --star-tail-length: 5.79em;
    --top-offset: 82.46vh;
    --fall-duration: 10.722s;
    --fall-delay: 0.878s;
  }
  .star:nth-child(9) {
    --star-tail-length: 6.9em;
    --top-offset: 76.2vh;
    --fall-duration: 11.579s;
    --fall-delay: 1.675s;
  }
  .star:nth-child(10) {
    --star-tail-length: 7.43em;
    --top-offset: 69.76vh;
    --fall-duration: 7.571s;
    --fall-delay: 5.36s;
  }
  .star:nth-child(11) {
    --star-tail-length: 7.16em;
    --top-offset: 34.09vh;
    --fall-duration: 9.572s;
    --fall-delay: 2.964s;
  }
  .star:nth-child(12) {
    --star-tail-length: 6.46em;
    --top-offset: 36.71vh;
    --fall-duration: 9.873s;
    --fall-delay: 2.815s;
  }
  .star:nth-child(13) {
    --star-tail-length: 6.72em;
    --top-offset: 35.88vh;
    --fall-duration: 10.827s;
    --fall-delay: 5.711s;
  }
  .star:nth-child(14) {
    --star-tail-length: 6.7em;
    --top-offset: 1.19vh;
    --fall-duration: 7.433s;
    --fall-delay: 1.119s;
  }
  .star:nth-child(15) {
    --star-tail-length: 5.77em;
    --top-offset: 96.47vh;
    --fall-duration: 9.33s;
    --fall-delay: 8.951s;
  }
  .star:nth-child(16) {
    --star-tail-length: 5.27em;
    --top-offset: 94.91vh;
    --fall-duration: 6.443s;
    --fall-delay: 0.38s;
  }
  .star:nth-child(17) {
    --star-tail-length: 6.89em;
    --top-offset: 97.02vh;
    --fall-duration: 9.055s;
    --fall-delay: 8.878s;
  }
  .star:nth-child(18) {
    --star-tail-length: 6.65em;
    --top-offset: 84.99vh;
    --fall-duration: 8.456s;
    --fall-delay: 3.797s;
  }
  .star:nth-child(19) {
    --star-tail-length: 7.34em;
    --top-offset: 32.68vh;
    --fall-duration: 11.013s;
    --fall-delay: 4.619s;
  }
  .star:nth-child(20) {
    --star-tail-length: 5.37em;
    --top-offset: 58.31vh;
    --fall-duration: 8.74s;
    --fall-delay: 7.25s;
  }
  .star:nth-child(21) {
    --star-tail-length: 6.79em;
    --top-offset: 90.67vh;
    --fall-duration: 6.971s;
    --fall-delay: 0.276s;
  }
  .star:nth-child(22) {
    --star-tail-length: 5.33em;
    --top-offset: 14.93vh;
    --fall-duration: 9.71s;
    --fall-delay: 4.269s;
  }
  .star:nth-child(23) {
    --star-tail-length: 5.6em;
    --top-offset: 2.33vh;
    --fall-duration: 7.44s;
    --fall-delay: 5.745s;
  }
  .star:nth-child(24) {
    --star-tail-length: 7.11em;
    --top-offset: 90.73vh;
    --fall-duration: 9.217s;
    --fall-delay: 0.722s;
  }
  .star:nth-child(25) {
    --star-tail-length: 6em;
    --top-offset: 52.44vh;
    --fall-duration: 11.865s;
    --fall-delay: 3.996s;
  }
  .star:nth-child(26) {
    --star-tail-length: 7.05em;
    --top-offset: 60.95vh;
    --fall-duration: 6.993s;
    --fall-delay: 6.908s;
  }
  .star:nth-child(27) {
    --star-tail-length: 6.35em;
    --top-offset: 71.03vh;
    --fall-duration: 6.943s;
    --fall-delay: 9.864s;
  }
  .star:nth-child(28) {
    --star-tail-length: 7.48em;
    --top-offset: 70.47vh;
    --fall-duration: 7.362s;
    --fall-delay: 9.833s;
  }
  .star:nth-child(29) {
    --star-tail-length: 6.81em;
    --top-offset: 39.89vh;
    --fall-duration: 6.709s;
    --fall-delay: 8.026s;
  }
  .star:nth-child(30) {
    --star-tail-length: 5.56em;
    --top-offset: 65.87vh;
    --fall-duration: 9.463s;
    --fall-delay: 1.616s;
  }
  .star:nth-child(31) {
    --star-tail-length: 6.33em;
    --top-offset: 64.57vh;
    --fall-duration: 11.787s;
    --fall-delay: 2.7s;
  }
  .star:nth-child(32) {
    --star-tail-length: 5.94em;
    --top-offset: 50.29vh;
    --fall-duration: 9.101s;
    --fall-delay: 0.667s;
  }
  .star:nth-child(33) {
    --star-tail-length: 5.63em;
    --top-offset: 43.79vh;
    --fall-duration: 7.12s;
    --fall-delay: 4.829s;
  }
  .star:nth-child(34) {
    --star-tail-length: 6.02em;
    --top-offset: 1.81vh;
    --fall-duration: 10.211s;
    --fall-delay: 3.051s;
  }
  .star:nth-child(35) {
    --star-tail-length: 5.3em;
    --top-offset: 54.3vh;
    --fall-duration: 6.975s;
    --fall-delay: 4.494s;
  }
  .star:nth-child(36) {
    --star-tail-length: 6.17em;
    --top-offset: 81.02vh;
    --fall-duration: 9.697s;
    --fall-delay: 4.33s;
  }
  .star:nth-child(37) {
    --star-tail-length: 6.08em;
    --top-offset: 76.6vh;
    --fall-duration: 8.151s;
    --fall-delay: 5.904s;
  }
  .star:nth-child(38) {
    --star-tail-length: 6.66em;
    --top-offset: 36.29vh;
    --fall-duration: 8.453s;
    --fall-delay: 5.106s;
  }
  .star:nth-child(39) {
    --star-tail-length: 6.72em;
    --top-offset: 44.91vh;
    --fall-duration: 6.28s;
    --fall-delay: 7.997s;
  }
  .star:nth-child(40) {
    --star-tail-length: 5.08em;
    --top-offset: 36.15vh;
    --fall-duration: 9.995s;
    --fall-delay: 7.046s;
  }
  .star:nth-child(41) {
    --star-tail-length: 6.69em;
    --top-offset: 73.62vh;
    --fall-duration: 7.522s;
    --fall-delay: 1.682s;
  }
  .star:nth-child(42) {
    --star-tail-length: 5.63em;
    --top-offset: 15.84vh;
    --fall-duration: 6.081s;
    --fall-delay: 4.952s;
  }
  .star:nth-child(43) {
    --star-tail-length: 5.46em;
    --top-offset: 15.07vh;
    --fall-duration: 11.53s;
    --fall-delay: 3.53s;
  }
  .star:nth-child(44) {
    --star-tail-length: 5.29em;
    --top-offset: 64.17vh;
    --fall-duration: 6.899s;
    --fall-delay: 5.921s;
  }
  .star:nth-child(45) {
    --star-tail-length: 7.07em;
    --top-offset: 66.89vh;
    --fall-duration: 6.115s;
    --fall-delay: 8.987s;
  }
  .star:nth-child(46) {
    --star-tail-length: 7.13em;
    --top-offset: 57.6vh;
    --fall-duration: 8.403s;
    --fall-delay: 5.447s;
  }
  .star:nth-child(47) {
    --star-tail-length: 6.32em;
    --top-offset: 18.31vh;
    --fall-duration: 10.767s;
    --fall-delay: 9.572s;
  }
  .star:nth-child(48) {
    --star-tail-length: 5.74em;
    --top-offset: 1.4vh;
    --fall-duration: 9.866s;
    --fall-delay: 6.547s;
  }
  .star:nth-child(49) {
    --star-tail-length: 5.83em;
    --top-offset: 0.87vh;
    --fall-duration: 7.346s;
    --fall-delay: 2.967s;
  }
  .star:nth-child(50) {
    --star-tail-length: 6.69em;
    --top-offset: 58.38vh;
    --fall-duration: 7.68s;
    --fall-delay: 1.684s;
  }
  .star::before, .star::after {
    position: absolute;
    content: "";
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite;
  }
  .star::before {
    transform: rotate(45deg);
  }
  .star::after {
    transform: rotate(-45deg);
  }
  
  @keyframes fall {
    to {
      transform: translate3d(-30em, 0, 0);
    }
  }
  @keyframes tail-fade {
    0%, 50% {
      width: var(--star-tail-length);
      opacity: 1;
    }
    70%, 80% {
      width: 0;
      opacity: 0.4;
    }
    100% {
      width: 0;
      opacity: 0;
    }
  }
  @keyframes blink {
    50% {
      opacity: 0.6;
    }
  }