body{
    margin:0;
    padding:0;
    background-color: #121212;
}

.upper1{
    height: 8vh;
    display: flex;
    background-color: black;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
   z-index: 100;
}
.upper1 img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 40px;
    margin-TOP: 10px;
    margin-right: 15px;
}
.upper1 h1{
    margin-top: 10px;
}

.user_icon{
    background-color: blueviolet;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 20px;
    margin-left: 10px;
    margin-top: 18px;
}
.user_head{
    margin-top: 20px;
}
.sidebar{
    width:18%;
    height:92vh;
    position: absolute;
    bottom: 0px;
    /* background-color: rgba(255,255,255,0.1); */
    border-right: 2px solid rgba(255,255,255,0.1);
   
}
.sidebar_btn{
    height: 40px;
    width: 230px;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.1);
    border: none;
    margin: 10px;
    margin-top: 20px;
    color: white;
    font-weight: 900;
}
.sidebar_btn:hover{
    transform: scale(1.05);
}
.sidebar1{
    display: flex;
    flex-direction: column;
}
.sidebar1 button{
    background-color: #121212;
    color:white;
}
.profile_pic{
    background-color: black;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0px 10px;
}
a{
    text-decoration: none;
}
.profile_name{
    margin-top: 3px;
}
.like{
    margin-top: 10px;
}
.follow{
    margin: 3px;
    margin-right: 50px;
    color: rgb(75, 75, 200);
    font-weight: 900;
    margin-left: 5px;
}

.inside_middle{
    margin: 10px;
    background-color: rgba(255,255,255,0.1);
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.inside_middle:hover{
    box-shadow: 5px 5px 10px rgba(255,255,255,0.2);
}
*{
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.middle{
    height: 92vh;
     width:82%;
    position: absolute;
    right: 0px;
     /* background-color: rgba(255,255,255,0.1); */
     border-radius: 10px;
}