/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #2e2e2d;
    color: white;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

h1, h2 {
    text-align: center;
}

/* Header Styles */
header {
    background-color: #080808;
    color: #fff;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Forum Section Styles */
#forum {
    padding: 50px 0;
}

#forum p {
    font-size: 18px;
    margin-bottom: 20px;
}

#postContent {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px;
    resize: vertical;
}

#posts {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
}

.post {
    margin-bottom: 20px;
    border-bottom: 1px solid #c26666;
    padding-bottom: 10px;
}

/* Google Search Section Styles */
#google-search {
    padding: 50px 0;
}

#google-search input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

#google-search button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

#google-search button:hover {
    background-color: #555;
}

#searchResults {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
}

#searchResults h3 {
    margin-bottom: 5px;
}

#searchResults p {
    margin-bottom: 10px;
}
