*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    color: rgba(255, 255,255, 0.7);
}
.heading{
    margin: 30px;
}
.container{
    height: 87vh;
    width: 200vh;
    display: flex;
    justify-content: space-evenly;
}
.card {
    height: 25rem;
    border: red;
    padding-left: 1rem;
    margin-left:1rem;
    background-color: rgba(255, 255,255, 0.2);
    border-radius:1rem;
}
.card-body h5{
    padding: 0.7rem 0 0.7rem 0;
    font-size:1.2rem
}
.card-body p{
    padding-bottom: 1rem;
    opacity: 0.7;
    font-size:15px;
}
.card img{
    height: 8rem;
    width: 10rem;
    padding-left: 3rem;
}
.card a{
    background-color: rgb(83, 83, 157);
}